export DEVBOX_NO_ENVRC_UPDATE=1
export DIRENV_LOG_FORMAT=""
export DIRENV_LOG_VERBOSE=0
export GOPRIVATE=github.com/altinity/*

PATH_add .bin

# set up devbox environment
if command -v devbox 2>&1 >/dev/null; then
  export AT=cloud:devbox-dotenv
  eval "$(devbox generate direnv --print-envrc)"
else
  echo >&2 'WARNING: devbox (https://www.jetify.com/devbox/) not found: run `just devbox` to install.'
fi

[[ -f .envrc.local ]] && source_env .envrc.local